.logo {
    width: 120px;
    height: auto;
    margin-left: 35px; 
    justify-content:space-between;
    align-items: center;
  }

.heading {
    align-items: center;
    margin-left: 55px;
    margin-top: 10px;
    color: White;
    justify-content:space-between;
}